script(type="text/javascript", src="/javascripts/new.js")
h2 new
div search from slideshare:
  input(id="search", type="text")
  div(id="query")
  div(id="results")
form(action="/create", method="POST")
  input(type="hidden", id="create_id", name="id", value="")
